<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title>Add a new Client</title>
</head>
<body>
	<div th:replace="fragments/header :: header"/>
	<h1>Add Client</h1>h1>
	<form action="#" th:action="@{/addClient}" th:object="${client}" method="post">
		<div>
			Name: <input type="text" th:field="*{name}" />
		</div>
		<div>
			Address: <br/>
			<label>Street:</label><input type="text" th:field="*{address.street}" /> <br/> 
			<label>City:</label><input type="text" th:field="*{address.city}" /> 
			<label>State:</label><input type="text" th:field="*{address.state}" /> 
			<label>ZipCode:</label><input type="text" th:field="*{address.zipCode}" /> <br/>
		</div>
		<div>
			Active Rentals: <span th:text="${#lists.size(client.rentals)}">2</span>
			<ul th:each="rental : *{rentals}">
				<li><label>Rental Id:</label><input type="text" name="rentalid" value="${rental.id}" />
				<label>Description:</label><input type="text" name="rentaldescr" value="${rental.description}" />
				</li>
			</ul>
		</div>
		<div>
			Billing info:<br/>
			<label>Billing:</label><input type="text" name="billing" value="*{billInfo.bankName}" />
		</div>
		<input type="submit" value="add" />
	</form>
</body>
</html>