<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Rental Request</title>
</head>
<body >
<h1>Rental Details</h1>
 <form action="#" th:action="@{/rents}" th:object="${rental}" method="post"  >
   <p>Rent from: <input type="datetime-local"  class="datetime" th:field="*{rentFrom}"
		required="required"/> </p> 
   <p>Rent to: <input type="text" th:field="*{rentTo}"  required="required"/></p>
   <p>Type of contract:
   <select th:field="*{contract.type}">
        <option th:each="optionStatus : ${T(edu.cs544.colab.rental.ContractType).values()}" th:value="${optionStatus.name()}" th:text="${optionStatus.toString()}"></option>
    </select>  
    </p>
<h1>Bank Information</h1>
    <p>Due Date: <input th:field="*{bill.dueDate}"/> </p>
    <p>Account Number: <input th:field="*{bill.accountNumber}"/></p>
    <p>Security Code: <input th:field="*{bill.securityCode}"/></p>
    <p>Bank Routing Number: <input th:field="*{bill.bankRoutingNumber}" /></p>
    <p><input type="submit" value="Confirm" /> <input type="reset" value="Reset" /></p>
    </form> 
</body>
</html>