<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Rental Request</title>
</head>
<body >
<h1>Rental Request</h1>
 <form action="#" th:action="@{/rents}" th:object="${rental}" method="post"  >
   <p>Rent from: <input type="datetime-local"  class="datetime" th:field="*{rentFrom}"
		required="required"/> </p> 
   <p>Rent to: <input type="text" th:field="*{rentTo}"  required="required"/></p>
   <p>Type of contract:
   <select th:field="*{contract.type}">
        <option th:each="optionStatus : ${T(edu.cs544.colab.rental.ContractType).values()}" th:value="${optionStatus.name()}" th:text="${optionStatus.toString()}"></option>
    </select>  
    </p>
    <input type="submit"  value="Submit" /> <input type="reset" value="Reset" />
 </form> 
</body>
</html>