<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title>Clients currently renting offices</title>
</head>
<body>
	<h1>Clients currently renting offices</h1>
	<table>
		<tr>
			<th>Name</th>
			<th>Offices</th>
		</tr>
		<tr th:each = "client : ${clients}">
			<td th:text="${client.name}"></td>
			<td th:each = "rental : ${client.rentals}">${rental.id}",&nbsp;
			<a href="client/${client.id}">edit</a></td>
		</tr>
	</table>

	<a href="addCLient"> Add a client</a>
</body>
</html>