<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title>Client Details</title>
</head>
<body>
	<div th:replace="fragments/header :: header"/>
	<h1>Client Details</h1>
		<div>
			Name: <span th:text="${client.name}" ></span>
		</div>
		<div>
			Address: <br/>
			Street:<span th:text="${client.address.street}" ></span> <br/> 
			City:<span th:text="${client.address.city}" > </span>
			State:<span th:text="${client.address.state}" > </span>
			ZipCode:<span th:text="${client.address.zipCode}" ></span> <br/>
		</div>
		<div>
			Active Rentals:
			<ul th:each="rental : *{rentals}">
				<li>Rental Id:<span th:text="${rental.id}" ></span>
				Description:<span th:text="${rental.description}" ></span>
				</li>
			</ul>
		</div>
		<div>
			Billing info: <span th:text="${client.billInfo.bankName}" ></span>
		</div>
</body>
</html>