<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Office creation</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <div th:replace="fragments/header :: header"/>

</head>
<body>
<h1>Form</h1>
<form action="#" th:action="@{/offices}" th:object="${office}" method="post">
    <p>Name: <input type="text" th:field="*{name}" /></p>
    <p>Price: <input type="text" th:field="*{price}" /></p>
    <p>Description: <input type="text" th:field="*{description}" /></p>
    <p>Street: <input type="text" th:field="*{street}" /></p>
    <p>Zip Code: <input type="text" th:field="*{zipCode}" /></p>
    <p>City: <input type="text" th:field="*{city}" /></p>
    <p>State: <input type="text" th:field="*{state}" /></p>

    <p>Status: <select th:field="*{status}">
        <option th:each="optionStatus : ${T(edu.cs544.colab.office.enums.OfficeStatus).values()}" th:value="${optionStatus.name()}" th:text="${optionStatus.toString()}"></option>
    </select> </p>

    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>
</body>
</html>