<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Office creation</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<table id="...">

    <tbody>

    <tr th:each = "office: ${officeList}">
        <td th:text="${office.name}"></td>
        <td>
            <table>
                <tr>
                    <td th:text="${office.description}"> </td>
                </tr>
                <tr>
                    <td><p>Price: </p></td><td th:text="${office.price}"></td>
                </tr>
                <tr>
                    <td><p>Street: </p></td><td th:text="${office.location.street}"></td>
                </tr>
                <tr>
                    <td><p>Zip Code: </p></td><td th:text="${office.location.zipCode}"></td>
                </tr>
                <tr>
                    <td><p>City: </p></td><td th:text="${office.location.city}"></td>
                </tr>
                <tr>
                    <td><p>State: </p></td><td th:text="${office.location.state}"></td>
                </tr>
                <tr>
                    <td><a th:href="@{/ListEquipment/__${office.id}__}">See equipment</a></td>
                </tr>
                <tr>
                    <td><a th:href="@{/AddEquipment/__${office.id}__}">Add Equipment</a></td>
                </tr> 
                <tr>
                    <td><a th:href="@{/toRent/__${office.id}__}">For Rent</a></td>
                </tr>
            </table>
        </td>
    </tr>
    </tbody>

</table>
</body>
</html>