<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>List Of Rentals</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>List Of Rentals</h1>
<table id="...">

    <tbody>

    <tr th:each = "rent: ${listRental}">
        <td th:text="${rent.office.name}"></td>
        <td>
            <table>
                <tr>
                    <td th:text="${rent.office.description}"> </td>
                </tr>
                <tr>
                    <td><p>Price: </p></td><td th:text="${rent.office.price}"></td>
                </tr>
                <!-- <tr>
                    <td><p>City: </p></td><td th:text="${rent.office.location.city}"></td>
                </tr> -->
                <tr>
                    <td><p>Rent From: </p></td><td th:text="${rent.rentFrom}"></td>
                </tr>
                <tr>
                    <td><p>Rent To: </p></td><td th:text="${rent.rentTo}"></td>
                </tr>
                <tr>
                    <td><p>Type OF Contract: </p></td><td th:text="${rent.contract.type}"></td>
                </tr>
            </table>
        </td>
    </tr>
    </tbody>

</table>
</body>
</html>