<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Rental creation</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Form</h1>
 <form action="#" th:action="@{/rents}" th:object="${rental}" method="post">
    <p>Rent from: <input type="text" th:field="*{rentFrom}" /></p>   
    <p>Rent to: <input type="text" th:field="*{rentTo}" /></p>
    <p>Security Deposit: <input type="text" th:field="*{contract.securityDeposit}" /></p>
    <p>Type of contract: <input type="text" th:field="*{contract.type}" /></p>
    <select th:field="*{type}">
        <option th:each="optionStatus : ${T(edu.cs544.colab.rental.ContractType).values()}" th:value="${optionStatus.name()}" th:text="${optionStatus.toString()}"></option>
    </select>  -->
 
    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p> 
 </form> 
</body>
</html>