<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Rental Order</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<!-- <div th:object="${bill}"> -->
<h1>The Office is now rented For You</h1>
<h1>It will creating your bill</h1>
    <!--  <form  th:object="${bill}" method="post">
     <p>Amount: <input type="text" th:field="*{amount}" /></p>
    <p>Account Number: <input type="text" th:field="*{accountNumber}" /></p>
    <p>Due Date: <input type="text" th:field="*{dueDate}" /></p>
    <p>security Number: <input type="text" th:field="*{bankName}" /></p> 
   </form>  -->
</body>
</html>